<!DOCTYPE html>
<html lang="en">
<head>
    <title>Solar Plant Detection through Satellite Imagery (Sentinel-2)</title>
<script>
    async function startWorkflow() {

        toggleStartButton(false)
        document.getElementById("log-container").innerHTML = "";

        let lat = parseFloat(document.getElementById("latitude").value);
        let lon = parseFloat(document.getElementById("longitude").value);
        let ns = parseInt(document.getElementById("ns_distance").value);
        let we = parseInt(document.getElementById("we_distance").value);

        // Brazil Data Cube Coverage Bounds
        const LAT_MIN = -34.6755645921443;
        const LAT_MAX = 5.76326400552693;
        const LON_MIN = -74.871069;
        const LON_MAX = -28.0062080416543;

        if (isNaN(lat) || isNaN(lon)) {
            alert("Please enter valid numerical values for latitude and longitude.");
            return;
        }

        if (lat < LAT_MIN || lat > LAT_MAX || lon < LON_MIN || lon > LON_MAX) {
            alert("Zone out of Brazil Data Cube bounds.");
            return;
        }

        if (ns > 35 || we > 35 || (ns * we) > 900) {
            alert("The selected detection area is too large for the current available computing resources. Please try a smaller area. This limitation may be lifted in future updates as we expand our infrastructure.");
            return;
        }
                
        // Reset UI elements       
        document.getElementById("overlayImage").style.display = "none";
        document.getElementById("overlay-title").style.display = "none";
        document.getElementById("statisticsContainer").style.display = "none";
        document.getElementById("statisticsContainer").innerHTML = "";
        document.getElementById("downloadContainer").innerHTML = "";


        // Show the spinner & step list
        document.getElementById("spinner").style.display = "block";
        document.getElementById("steps-list").style.display = "block";
        document.getElementById("steps-title").style.display = "block";

        const stepItems = document.querySelectorAll(".step-item");
        stepItems.forEach(item => {
            item.classList.remove("active", "checked");
        });


        let response = await fetch("https://j4zkohkobg.execute-api.us-east-1.amazonaws.com/dev/start", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ 
                center_point: [lat, lon],
                ns_distance_km: ns, 
                we_distance_km: we
            })
        });

        let data = await response.json();
        logStatus("Starting analysis...");
        
        if (data.executionArn) {
            logStatus(`Workflow started! Tracking execution: ${data.executionArn}`);
            checkStatus(data.executionArn);
        } else {
            logStatus(`Error: ${data.error}`);

            // If there's an error right away, hide the spinner again:
            document.getElementById("spinner").style.display = "none";
            toggleStartButton(true)
        }

    }

let lastLoggedStep = null;  // Store last logged step to avoid duplicates



async function checkStatus(executionArn) {
    try {
        let response = await fetch(`https://j4zkohkobg.execute-api.us-east-1.amazonaws.com/dev/status?executionArn=${executionArn}`, {
            method: "GET",
            headers: { "Content-Type": "application/json" }
        });

        if (!response.ok) {
            throw new Error(`API Error: ${response.status} - ${response.statusText}`);
        }

        let data = await response.json();

        // Log only if the step has changed
        if (data.current_step !== lastLoggedStep) {
            logStatus(`Status: ${data.status} - Step: ${data.current_step || "Unknown"}`);
            lastLoggedStep = data.current_step;
        }

        // Show progress list if hidden
        document.getElementById("steps-list").style.display = "block";
        document.getElementById("steps-title").style.display = "block";

        // Step condition handling
        if (data.status === "RUNNING") {
            updateStepStatus(data.current_step, "RUNNING");
        }

        if (data.status === "SUCCEEDED") {
            updateStepStatus("ReportDone", "SUCCEEDED");
            document.getElementById("spinner").style.display = "none";
            toggleStartButton(true)        

                // Call overlay and stats display
                if (data.transaction_id) {
                    displayOverlay(data.transaction_id);
                    fetchReport(data.transaction_id);
                }

         } else if (data.status === "FAILED" || data.status === "TIMED_OUT") {
             // If you want to hide spinner upon failure
             document.getElementById("spinner").style.display = "none";
             toggleStartButton(true)        

        } else {
            // Continue polling if the process is not complete
            setTimeout(() => checkStatus(executionArn), 5000);
        }

    } catch (error) {
        logStatus(`Error fetching status: ${error.message}`);
        // Hide spinner if you want on error
        document.getElementById("spinner").style.display = "none";
        toggleStartButton(true)        

    }
}



function displayOverlay(transaction_id) {

    logStatus("Processing complete! Displaying overlay image.");
    let overlayUrl = `https://satellite-ml-solarp-detection-data.s3.amazonaws.com/reports/${transaction_id}/overlay.png`;
    let overlayImg = document.getElementById("overlayImage");
    let overlayTitle = document.getElementById("overlay-title");


    overlayImg.onload = () => {
        overlayTitle.style.display = "block"; // Show title only when image loads
    };

    overlayImg.src = overlayUrl;
    overlayImg.style.display = "block";  // Ensure visibility
}



async function fetchReport(transaction_id) {
    try {
        let reportUrl = `https://satellite-ml-solarp-detection-data.s3.amazonaws.com/reports/${transaction_id}/report.html`;

        let response = await fetch(reportUrl);
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }


        document.getElementById("statisticsContainer").style.display = "block";

        let reportHtml = await response.text();

        // Parse the HTML and extract the correct table
        let parser = new DOMParser();
        let doc = parser.parseFromString(reportHtml, "text/html");
        let tables = doc.getElementsByTagName("table");

        if (tables.length > 0) {
            let statisticsTable = tables[0];  // Assuming the first table is the statistics table
            document.getElementById("statisticsContainer").innerHTML = "<h3>Statistics</h3>" + statisticsTable.outerHTML;

            // Add the download button after displaying statistics
            document.getElementById("downloadContainer").innerHTML = `
                <button onclick="downloadResults('${transaction_id}')">Download Results</button>
            `;
        } else {
            document.getElementById("statisticsContainer").innerHTML = "<p style='color:red;'>Error: No statistics table found in the report.</p>";
        }
    } catch (error) {
        document.getElementById("statisticsContainer").innerHTML = `<p style='color:red;'>Error fetching statistics: ${error.message}</p>`;
    }
}



// Function to trigger the download
async function downloadResults(transaction_id) {
    try {
        let response = await fetch(`https://j4zkohkobg.execute-api.us-east-1.amazonaws.com/dev/download-results?transaction_id=${transaction_id}`, {
            method: "GET",
            headers: { "Content-Type": "application/json" }
        });

        let data = await response.json();
        if (data.download_url) {
            // Automatically trigger the download
            window.location.href = data.download_url;
        } else {
            alert("Error: Unable to generate download link.");
        }
    } catch (error) {
        alert("Error fetching download link: " + error.message);
    }
}

 
    function logStatus(message) {
        let logDiv = document.getElementById("log-container");
        let logEntry = document.createElement("p");
        logEntry.innerText = `${new Date().toLocaleTimeString()} - ${message}`;
        logDiv.appendChild(logEntry);
        logDiv.scrollTop = logDiv.scrollHeight;
    }


function updateStepStatus(stepName, status) {
    const stepMap = {
        "RunBDC_Acquisition": "step1",
        "RunImageEnhancementJob": "step2",
        "RunPredictionJob": "step3",
        "RunReportJob": "step4",
        "ReportDone": "step5"
    };

    const stepId = stepMap[stepName];
    if (!stepId) return;

    const el = document.getElementById(stepId);
    if (el) {
        el.classList.add("active", "checked");
    }
}

function toggleStartButton(enabled) {
    document.querySelector("button").disabled = !enabled;
}



</script>

<style>
        .container {
            width: 420px;
            margin: auto;
            text-align: center;
        }
        .form-box {
            background: #f8f9fa;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 5px #ccc;
        }
        .row {
            display: flex;
            justify-content: space-between;
        }
        .col {
            flex: 1;
            padding: 5px;
        }
        input {
            width: 95%;
            padding: 8px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            text-align: center;
        }
        .distance-container {
            display: flex;
            justify-content: space-between;
        }
        .distance-container input {
            width: 45%;
        }
        button {
            background: #007bff;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            margin-top: 10px;
        }
        button:hover {
            background: #0056b3;
        }
        .log-box {
            height: 150px;
            overflow-y: auto;
            background: #e9ecef;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: left;
            max-height: 200px;
        }


.step-item {
  color: gray;
  font-weight: normal;
  margin-bottom: 6px;
  font-size: 16px;
}

.step-item.active {
  color: #000;
  font-weight: bold;
}

.step-item.checked::after {
  content: " ✔";
  color: green;
  font-weight: bold;
}


    </style>
</head>

<body>
<div class="container">
    <h2>Solar Power Mapping in Brazil: Sentinel-2 ML Detection</h2>
    <div class="form-box">
        <h3>Zone of Detection</h3>
        <div class="row">
            <div class="col">
                <label>Latitude:</label>
                <input type="text" id="latitude" placeholder="Ex: -15.885858">
            </div>
            <div class="col">
                <label>Longitude:</label>
                <input type="text" id="longitude" placeholder="Ex: -47.725772">
            </div>
        </div>
        <label>North-South Distance (km):</label>
        <input type="number" id="ns_distance"><br>
        <label>West-East Distance (km):</label>
        <input type="number" id="we_distance"><br>
        <button onclick="startWorkflow()">Start Analysis</button>


        <!-- Spinner (initially hidden) -->
<div id="spinner" style="display:none; margin: 10px 0;">
  <img src="{{ url_for('static', filename='spinner.gif') }}" alt="Loading..." style="width:30px; height:30px;" />
</div>


<!-- Workflow Steps List -->
<h3 id="steps-title" style="display: none; text-align: left; padding-left: 20px;">Workflow Progress:</h3>
<ul id="steps-list" style="list-style-type: none; padding-left: 20px; display: none; text-align: left;">
  <li id="step1" class="step-item">1. Backend activated</li>
  <li id="step2" class="step-item">2. Fetch BDC images</li>
  <li id="step3" class="step-item">3. Image Enhancement</li>
  <li id="step4" class="step-item">4. Inference</li>
  <li id="step5" class="step-item">5. Report</li>
</ul>

<h3 id="workflow-status-logs" style="text-align:left; padding-left: 20px;" >Workflow Status Log</h3>

        <div id="log-container" class="log-box"></div>


        </div>

</div>

<h3 id="overlay-title" style="display:none;">Detection Mosaic Overlay</h3>
<img id="overlayImage" src="" alt="Overlay Image" style="max-width: 100%; height: auto; display: none;">

<div id="statisticsContainer" style="width: 100%; overflow-x: auto; border: 1px solid #ccc; padding: 10px; display: none;"></div>

<div id="downloadContainer" style="margin-top: 20px;"></div>

</body>
</html>
